        /* h1{ */

            /* font-family: Arial, Helvetica, sans-serif;
            /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.256); */
            /* background: url(https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
            background-position: center;
            background-clip: border-box;
            background-size: cover;
           -webkit-background-clip: text;
         	background-clip: text;
        	color: transparent;
        } */
        h1{
            font-size: 2.5rem;
            color: whitesmoke;

        }
        b{
            color: red !important;
        }
   
        body{
            display: grid;
            justify-content: center;
        }
        .container{
            display: flex;
            width: 100%;
        }
        .wrapper{
            width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             background-color: rgb(35, 41, 39);
             gap: 10px;
             text-align: center;
        }
        *{
            font-family: Arial, Helvetica, sans-serif;
            word-wrap: normal;
        }
        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
        }
        .profile{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;

        }
        .sectionOne{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        nav{
            display: flex;
            justify-content: flex-end;
            align-items:center;

        }
        nav>a{
            margin-left: 20px;
            margin: 10px;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            padding: 10px;
            text-transform: capitalize;
            border-radius: 6px;

        }
        nav>a:hover{
            color: rgb(255, 255, 255);
            background-color: darkgreen;
            text-shadow: 2px 2px 7px rgb(255, 131, 131) ;

        }
        #icon{
            position: absolute;
            left: 20px;
        }
        .skillSet{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }
        .data_box{
            width: calc(50% - 10px);       
             background-color: goldenrod;
            padding: 25px 10px;
            margin: 25px 10px;
            border-radius: 8px;
            text-align: center;
            font-size: 40px;
        }
        .wrp1{
            display: grid;
            justify-content: space-between;

        }
        .job>a{
            text-decoration: none;
            padding: 10px;
            margin: 20px;
            font-size: 30px;
            color: wheat;
            border: 2px solid rgb(255, 255, 255);
        }
        .job>a:hover{
            color: rgb(255, 255, 255);
            background-color: yellowgreen;
        }
             @media screen and (max-width: 650px) {
        .container{
            
            display: flex;
            flex-direction: column;
           
        }  
        .wrapper>h1{
            margin-top: 100px;
        }
        .wrapper{
            width: 100%;
            display: flex;
             justify-content: center;
             align-items: center;
             background-color: rgb(35, 41, 39);
             gap: 10px;
        }
        nav{
            display:grid;
            justify-content: space-between;
        }
        }
        .articles{
            display: grid;
            grid-template-columns: repeat(auto-Fill ,minmax(300px,1fr));
            gap: 20px 20px;
            align-content: stretch;
        }
        .articles>.article_data{
           /* width: 200px;  */
           background-color: lightskyblue;
           padding: 10px;
           border-radius: 8px;
        }
        .footer{
            display: flex;
            justify-content: space-around;
        }
        li{
            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;
            font-weight: bold;
            text-align: left;
            list-style-type: none;

        }
        b{
            margin: auto;
        }
     .data_box:hover{
        transition-duration: 0.5s;
        color: white;
        background-color: lightskyblue;
     }
     @media screen and (max-width:675px) {
        /* nav bar */

        nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #icon{
            position:relative;
            left: auto;
                }
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            width: 100svw;
        }
        .container, .job , .wrapper{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 10px;
            width: 100%;
        }
        .container{
            flex-direction: column-reverse;
        }
        .container, .skillSet{
            /* width: 100svw; */
            overflow-x: hidden;
            align-items: center;
            justify-content: center;
        }
        /* skill sets */
        .skillSet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .skillSet>.data_box{
            /* width: max-content; */
            /* padding: 10px 20px; */
            width: 100%; 
            /* flex-basis: 180px; */
            flex-grow: 1;
        }
     }