body {
    font-family: Arial, Helvetica, sans-serif;
    background: #041c32;
    /* user-select: none; */
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  nav > .links {
    display: flex;
    justify-content: flex-end;
    gap: 10px 60px;
    align-items: center;
    margin-right: 20px;
  }
  a {
    text-decoration: none;
  }
  nav > img {
    position: relative;
    left: 20px;
    height: 10vh;
    width: auto;
  }
  nav > .links > a {
    background-color: #ecb365;
    color: #eeeeee;
    padding: 10px 20px;

  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  /*profile style  */

  .content {
    display: grid;
    align-items: center;
  }
  .profiles {
    height: 60svh;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .frontLayer > img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: 0px 0px 10px #edf6ff, 0px 0px 10px #4c7699;
  }
  .frontLayer > .bio {
    position: relative;
    margin-top: -78px;
    z-index: 9;
    color: #064663;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .frontLayer::after {
    display: block;
    position: relative;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0,
      #fff 100%
    );
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: "";
    border-radius: 0 0px 8px 8px;
  }

  .title {
    display: flex;
    justify-content: center;
    place-items: center;
    color: #e0e0e0;
  }

  .bio > h1 {
    margin: 0px;
  }
  footer {
    position: static;
    left: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background: #ecb365;
    color: #e0e0e0;
  }
  .footer {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #041c32; */
    color: #041C32;

  }
  li{
    list-style-type:none;
    margin: 10px;
    cursor: pointer;
    /* caret-color: green; */

  }
  .contacts_foot, .contacts_foot>a>li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts_foot>a>i{
    padding: 10px;
    font-size: 2pc;
  }
  .footer>ul>label{
    font-weight: bolder;
  }
  .copyright{
    margin: 20px;
  }