<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/404-error.css">
    <title>404 error</title>
</head>

<body>
    <div class="container">
 
            <div class="img">
                <img src="https://static.vecteezy.com/system/resources/previews/005/084/699/non_2x/internet-network-warning-404-error-page-or-file-not-found-for-web-page-internet-error-page-or-issue-not-found-on-network-free-vector.jpg" alt="">
            </div>
            <div class="hedding">
                <h1>404 ERROR </h1>
                <h3>oops,page not found</h3>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>
</html>