<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/donor_details.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/find.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>

    <div class="navbar">
        <div class="nav_items">

            <!-- logo section -->

            <div href="" class="logo"><img src="https://cdn-icons-png.flaticon.com/512/6374/6374296.png" alt=""> Dono
                Red</div>

            <!-- hospital section -->

            <a href="#home" class="hospital_section navbtn"><i class="fa-solid fa-house-medical"></i> hospital</a>

            <!-- donor_section -->

            <div class="dropdown navbtn donor_section">
                <a class="dropbtn"> <i class="fa-solid fa-people-group"></i> donor
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a href="/donor/add_donors" class="add_donor"><i class="fa-solid fa-person-circle-plus"></i> add
                        donor</a>

                    <a href="/donor/update_donors" class="update"><i class="fa-solid fa-user-pen"></i> updates</a>

                    <a href="/donor/donor_details" class="donor_details"><i class="fa-solid fa-users-rectangle"></i>
                        donor details</a>
                </div>
            </div>

            <!-- donor searching section -->

            <div class="dropdown navbtn search_section">
                <a class="dropbtn "><i class="fa-solid fa-magnifying-glass"></i> donor search
                    <i class="fa fa-caret-down"></i>
                </a>

                <div class="dropdown-content ">
                    <a href="#" class="by_location"><i class="fa-solid fa-magnifying-glass-location"></i> search by
                        location</a>

                    <a href="#" class="by-group"><i class="fa-solid fa-droplet"></i> search by blood group</a>
                </div>
            </div>

            <!-- stock section -->

            <a href="#news" class="stocks_section navbtn"><i class="fa-solid fa-hand-holding-droplet"></i> stocks</a>

            <!-- delete section -->

            <a href="#news" class="delete_section navbtn"><i class="fa-solid fa-user-slash"></i> blocked donor</a>

            <!-- logout section -->

            <a href="/login" class="lagout_section navbtn"><i class="fa-solid fa-right-from-bracket"></i> logout</a>

        </div>
    </div>

    <div class="donor_section">

        <div class="search_nav">
            <label for="">Enter Donor ID</label>
            
            <input type="text" value="" class="rotary_name">
            <button >search</button>
        </div>
        <div class="donor_container">
            <h1 class="hedding">Donor Details</h1>
            <form class="donor_registration">
                <div class="fields">
                    <label for="">rotary name</label>
                    <input type="text" value="abcd" readonly class="rotary_name">
                </div>
                <div class="fields">
                    <label for="">donor ID</label>
                    <input type="text" readonly class="donor_id">
                </div>
                <div class="fields">
                    <label for="">blood donate date </label>
                    <input type="text" readonly class="donate_date">
                </div>
                <div class="fields">
                    <label for="">donor name</label>
                    <input type="text" readonly class="donor_name">
                </div>
                <div class="fields">
                    <label for="">Date of birth</label>
                    <input type="text" readonly class="dob">
                </div>
                <div class="fields">
                    <label for="">Email </label>
                    <input type="text" readonly class="email">
                </div>

                <div class="fields">
                    <label for="">phone no</label>
                    <input type="text" readonly class="phone number">
                </div>
                <div class="fields">
                    <label for="">country</label>
                    <input type="text" readonly name="" class="country">
                </div>
                <div class="fields">
                    <label for="">State</label>
                    <input type="text" readonly name="" class="state">
                </div>
                <div class="fields">
                    <label for="">District</label>
                    <input type="text" readonly name="" class="district">

                </div>

                <div class="fields">
                    <label for="">taluk</label>
                    <input type="text" readonly name="" class="taluk">

                </div>

                <div class="fields">
                    <label for="">address</label>
                    <input type="text" readonly class="address">
                </div>

                <div class="fields">
                    <label for="">blood type</label>
                    <input type="text" readonly name="" class="blood_type">

                </div>


                <div class="fields ">
                    <label for="">Did you ever donate blood before?</label>
                    <input type="text" readonly name="" class="radio">

                </div>
                <!-- if yes then show dates of donetion -->

                <div class="fields old_donate_date ">
                    <label for="">When was the last time you have donated blood?</label>
                    <input type="text" readonly class="date_of_old_donation">
                </div>


                <div class="fields btns">
                    <button class="print">print</button>
                    <button class="colse">close</button>


                </div>

            </form>
        </div>
    </div>


</body>

</html>