<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<link rel="stylesheet" href="style.css">
	<title>blood</title>
</head>

<body>
	<!-- Main Content -->
	<div class="container">
		<div class=" main-content ">
			<div class=" company__info">
				<img src='https://img.freepik.com/free-vector/blood-donor-nurse_74855-6262.jpg?size=626&ext=jpg&ga=GA1.2.2092910745.1656039755'
					alt="">
			</div>
			<div class=" signup_form login_form">
				<h2>Login</h2>
				<form control="" class="form-group" action="/home1" method="post">
					
					<div class="row">
						<label for="" class="lbl_txt movement">Email or Phone No</label>

						<input type="email" name="email" id="email" class="form__input" 
							onkeyup="validation()" required>
							<div class='errors'></div>

					</div>
				
					<div class="row">
						<label class="lbl_txt movement" for="">Password</label>

						<input type="password" name="password" id="password" class="form__input" 
							onkeyup="validation()" required>
							<div class='errors'></div>

					</div>
				
					<div class="row">
						<input type="submit" value="Submit" class="btn">
					</div>


				</form>
				<div class="footer">
					<p>already have an account? <a href="/">signup Here</a></p>
				</div>

			</div>
		</div>
	</div>
	</div>

</body>
<script src="login.js"></script>
<script src="signup.js"></script>

</html>